header {
  display: flex;
  height: 500px;
  align-items: center;
  flex-direction: column;
  background-color: rgb(231, 169, 144);
  position: relative;
  width: 100%;
  padding-top: 5.5em;
}


/* .hello {
  display: flex;
} */