/* Top nav bar (fixed) */

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  /* viewport-fit: 100vw; */
  background-color: #704160;
  color: #FFFFFF;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


/* Top-Left of Website */

.website-logo {
  font-family: 'Bungee', cursive;
  margin: 1.5em 1.5em;
}


/* Top-Right of Website */

.fa-angle-double-down {
  color: rgb(236, 167, 178);
  margin-left: 3em ;
}

.website-write-new-tweets {
  display: flex;
  flex-direction: column;
  margin: 1.5em 1.5em;
}