article {
  display: flex;
  flex-direction: column;
  border: solid #545149;
  margin-top: 1.5em;
}

article:hover{
  box-shadow: 0 0 11px
}


footer {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em;
  border-top: solid #545149;
}

.icons {
  display: flex;
  margin-top: 1em;
}

.fas:hover{
  color: #8f547b;
}

label {
  margin-top: 1em;;
}

.header-left {
  display: flex;
}

.tweet-article {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em;
}

.middle-section-article {
  margin: 0 2.5em;
}

